:root {
  font: 16px / 1 verdana;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #919191;
  color: #272727b9;
}

h1 {
  text-align: center;
  font-family: Monospace;
  margin: 0rem 0 3rem 0;
  background-color: #6b6b6b;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.team1 {
  min-width: 20rem;
  border: thin solid #1a1a1a7c;
  border-radius: 0.3rem;
  margin-bottom: 3rem;
  background-color: rgb(150, 100, 100);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.team2 {
  min-width: 20rem;
  border: thin solid #1a1a1a7c;
  border-radius: 0.3rem;
  margin-bottom: 3rem;
  background-color: rgb(100, 107, 150);

  display: flex;
  flex-direction: column;
  align-items: center;
}

section h2,
section p {
  text-align: center;
}

section h3 {
  margin: 1rem 0;
  font-family: Monospace;
  font-size: 3rem;
}

fieldset {
  padding-left: 0;
  padding-right: 1rem;
  border: none;
  display: flex;
}

fieldset p {
  font-size: small;
  font-weight: bold;
  padding-right: 1rem;
  padding-left: 1rem;
}

fieldset input {
  padding: 0.5rem;
}

fieldset i {
  margin: 0 0.2rem;
}

fieldset i.add {
  color: #000000;
}

fieldset i.subtract {
  color: #ffffff;
}
